### Summary Statistics

| Metric | column | column_0 | column_1 | column_2 | column_3 | column_4 | column_5 | column_6 | column_7 | column_8 |
|--------|------|------|------|------|------|------|------|------|------|------|
| statistic | statistic | count | null_count | mean | std | min | 25% | 50% | 75% | max |
| customer_id | customer_id | 5.0 | 0.0 | 3.0 | 1.5811388300841898 | 1.0 | 2.0 | 3.0 | 4.0 | 5.0 |
| age | age | 5.0 | 0.0 | 36.2 | 11.166915420114902 | 23.0 | 29.0 | 34.0 | 45.0 | 50.0 |
| annual_income | annual_income | 5.0 | 0.0 | 60000.0 | 7905.694150420948 | 50000.0 | 55000.0 | 60000.0 | 65000.0 | 70000.0 |
| purchase_amount | purchase_amount | 5.0 | 0.0 | 300.0 | 79.05694150420949 | 200.0 | 250.0 | 300.0 | 350.0 | 400.0 |
| purchase_frequency | purchase_frequency | 5.0 | 0.0 | 6.6 | 1.1401754250991378 | 5.0 | 6.0 | 7.0 | 7.0 | 8.0 |
| region | region | 5 | 0 | None | None | East | None | None | None | West |
| loyalty_score | loyalty_score | 5.0 | 0.0 | 80.0 | 7.905694150420948 | 70.0 | 75.0 | 80.0 | 85.0 | 90.0 |


### Histograms for Selected Columns
![Histograms](Histogram_column_distributions.png)

### Bar Plot: Average purchase_amount by region
![Bar Plot](bar_plot_average_purchase_amt_by_regions.png)

